<section id="members">
<div class="container">
  <h3>Members</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
      <p><a target="_blank" href="https://chanhoeom.github.io/">Chanho Eom</a></p>
    	<p><a target="_blank" href="https://jun0kim.github.io/">Beomjun Kim</a></p>  
      <p><a target="_blank" href="https://hyunjp.github.io/">Hyunjong Park</a></p> 
      <p>Jongyoon Noh</p>
      <p>Dohyung Kim</p>
      <p>Junghyup Lee</p>  


    </div>
  </div>
</div>
</section>

